*{
	box-sizing: border-box;
}

body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin: 0;
}

header{
	background: yellowgreen;
	display: flex;
	align-items: center;
}

header ul{
	list-style: none;
	display: flex;
}
header a{
	color: white;
}

#logo{
	margin: 0 auto;
	font-size: 25px;
}
a{
	text-decoration: none;
}

#menu li{
	padding: 10px;
}
#social-links li{
	padding: 10px;
}

#main{
	display: flex;
	
}
aside{
	padding: 10px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis:20vw;
	background: beige; 
}
aside ul{
	list-style: none;
	padding: 0;
}
aside ul a{
	color: purple;
	display: block;
	padding: 10px;
	border-bottom: 2px solid grey;
}
aside img{
	width: 100%;
}

article{
	padding: 10px;
}







.service-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-box{
	display: flex;
	flex-direction: column;
	border: 2px solid #eee;
	padding: 10px;
	flex-basis: 32%;
	max-width: 370px;
}
.service-box img{
	width: 100%;
}

.service-box h3{
	margin: 5px 0px 10px 0px;
}
.service-box p{
	margin: 0 0 10px;
}

.readmore{
	align-self: flex-start;
	margin-top: auto;

}

.readmore a{
	background: grey;
	color: white;
	display: block;
	padding: 8px 13px;
	margin-bottom: 15px;
	border: 2px solid transparent;

}
.readmore a:hover{
	background: transparent;
	border:2px solid grey;
	color: grey;
}




footer{
	background: #566c2b;
	color: white;
	text-align: center;
	padding: 15px;
}

@media screen and (max-width:850px){
	.service-box{
		flex-basis: 48%;
	}
	aside{
		flex:0 0 30vw;
	}
}

@media screen and (max-width: 600px){
	header{
		flex-direction: column;
	}
	#logo{
		order: -1;
	}
	#main{
		flex-direction: column;
	}
	article{
		order: -1;
	}
	.service-container{
		flex-direction: column;
		align-items: center;
	}
	h2{
		text-align: center;
	}

}		





